/* Tour page styles */


table{
  width: 100%;
}


.heading{
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}

tr{
  height: 2rem;
  border-bottom: 2px solid white;
}

.pick{
  width: 4%;
  margin: 0 22%;
}
